/* Ioskeley Mono — the code face. An Iosevka custom build by Ahmed Hatem
 * (https://github.com/ahatem/IoskeleyMono), SIL OFL 1.1; license and files
 * in fonts/ioskeley/. Four cuts cover everything code needs. */

@font-face {
  font-family: 'Ioskeley Mono';
  src: url('../../../fonts/ioskeley/IoskeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ioskeley Mono';
  src: url('../../../fonts/ioskeley/IoskeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ioskeley Mono';
  src: url('../../../fonts/ioskeley/IoskeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ioskeley Mono';
  src: url('../../../fonts/ioskeley/IoskeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
